<form method="POST" action="/">
    <div class="container">
        <input type="url" name="url" placeholder="Input URL here"  required>
        <button class="shorten" type="submit">Shorten</button>
    </div>
</form>
